body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(../images/tile2.jpg);
    position: relative;
    color: #111;
}

h1 {
    font-size: 32pt;
    text-shadow: 2px 2px #ff0000;
}

#chickenHeader {
    width: 500px;
    height: 75px;
    margin: auto;
    display: block;
    position: relative;
    border-style: dashed;
    border-width: 3px;
    border-color: tomato;
    border-radius: 4%;
    margin-bottom: 10px;
    padding-bottom: 30px;
    background: rgba(255, 230, 148, 0.80);
}

#chickenLeft {
    float: right;
}

#chickenRight {
    float: left;
}

#chickenScoreboard {
    position: relative;
    margin: 20px auto;
    width: 800px;
    padding: 30px 20px;
    background: rgba(255, 230, 148, 0.80);
    border-width: 3px;
    border-style: dashed;
    border-color: tomato;
    border-radius: 4%;
    overflow: auto;
}

#chickenScoreboard::after {
    content: "";
    clear: both;
    display: table;
}

#chickenCrystals {
    position: relative;
    width: 1150px;
    margin: 15px auto;
    background: rgba(255, 230, 148, 0.80);
    border-width: 3px;
    border-style: dashed;
    padding: 20px 0;
    border-color: tomato;
    border-radius: 4%;
}

.chickenButton {
    margin: 0 5px;
    border-style: dotted;
    border-width: 4px;
    border-color: tomato;
    border-radius: 8%;
}

#chickenContainer1, #chickenContainer2, #chickenContainer3, #chickenContainer4 {
    display: inline-block;
}

#chickenContainer1:hover, #chickenContainer2:hover, #chickenContainer3:hover, #chickenContainer4:hover {
    opacity: 0.7;
    color: orangered;
}

#chickenContainer1:active, #chickenContainer2:active, #chickenContainer3:active, #chickenContainer4:active {
    position: relative;
    top: 2px;
    left: 2px;
    opacity: 1;
}

#chickenInstructions {
    font-weight: bold;
    font-size: 24pt;
    text-shadow: 2px 1px #ff0000;
}
