body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(../images/tile2.jpg);
    position: relative;
    color: #111;
}

h1 {
    font-size: 32pt;
    text-shadow: 2px 2px #ff0000;
}

#chickenHeader {
    width: 500px;
    height: 75px;
    margin: auto;
    display: block;
    position: relative;
    border-style: dashed;
    border-width: 3px;
    border-color: goldenrod;
    border-radius: 4%;
    margin-bottom: 10px;
    padding-bottom: 30px;
    background: rgba(255, 230, 148, 0.70);
}

#chickenLeft {
    float: right;
}

#chickenRight {
    float: left;
}

#chickenScoreboard {
    position: relative;
    margin: 20px auto;
    width: 800px;
    padding: 30px 20px;
    background: rgba(255, 230, 148, 0.70);
    border-width: 3px;
    border-style: dashed;
    border-color: goldenrod;
    border-radius: 4%;
    overflow: auto;
}

#chickenScoreboard::after {
    content: "";
    clear: both;
    display: table;
}

.betweenChickens {
    float: left;
    width: 310px;
    background-color: #ffe694;
}

.regularText {
    font-size: 18pt;
    text-shadow: 1px 1px #ff0000;
    padding: 0 15px;
    border-style: double;
    border-radius: 5%;
    border-color: red;
}

#chickenCrystals {
    position: relative;
    width: 1130px;
    margin: 15px auto;
    background: rgba(255, 230, 148, 0.70);
    border-width: 3px;
    border-style: dashed;
    padding: 20px 0;
    border-color: goldenrod;
    border-radius: 4%;
}

#chickenCrystals:hover {
    border-color: red;
    border-style: solid;
}

.chickenButton {
    margin: 0 5px;
}

#chicken1, #chicken2, #chicken3, #chicken4 {
    display: inline-block;
    border-style: dotted;
    border-width: 4px;
    border-color: orange;
    border-radius: 8%;
}

#chicken1:hover, #chicken2:hover, #chicken3:hover, #chicken4:hover {
    opacity: 0.6;
    color: orangered;
    border-style: solid;
    border-color: red;
    
}

#chicken1:active, #chicken2:active, #chicken3:active, #chicken4:active {
    position: relative;
    top: 2px;
    left: 3px;
    opacity: 1;
    border-style: dashed;
    border-color: red;
}

#chickenInstructions {
    font-weight: bold;
    font-size: 24pt;
    text-shadow: 2px 1px #ff0000;
}

@media only screen and (max-width: 1156px) {
    #chickenCrystals {
        width: 95%;
    }
    .chickenButton {
        width: 45%;
    }
}

@media only screen and (max-width: 856px) {
    #chickenScoreboard {
        width: 92%;
        margin: 5px auto;
    }

    .pointingChicken {
        width: 28%;
    }

    .betweenChickens {
        width: 33%;
    }
}

@media only screen and (max-width: 767px) {
    #chickenHeader {
    width: 70%;
    }

    .regularText {
        font-size: 14pt;
    }
    #chickenCrystals {
        height: 30%;
        margin: 5px auto;
    }
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 28pt;
        text-shadow: 1px 1px #ff0000;
    }
    #chickenInstructions {
        position: relative;
        top: -30px;
    }
    #chickenSpawn {
        position: relative;
        top: -30px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 24pt;
        text-shadow: 1px 1px #ff0000;
        position: relative;
        top: -20px;
    }

    #chickenHeader {
        height: 25px;
        }

    .pointingChicken {
        visibility: hidden;
    }

    .betweenChickens {
        width: 90%;
        position: relative;
        top: -140px;
    }

    #chickenScoreboard {
        width: 88%;
        height: 120px;
        overflow: hidden;
    }

    #chickenInstructions {
        font-size: 14pt;
    }
}

@media only screen and (max-width: 475px) {
    .betweenChickens {
        top: -130px;
    }
}

@media only screen and (max-width: 435px) {
    .betweenChickens {
        top: -120px;
    }
}

@media only screen and (max-width: 400px) {
    #chickenHeader {
        height: 10px;
    }
    h1 {
        font-size: 18pt;
        text-shadow: 1px 1px #ff0000;
    }

    .betweenChickens {
        top: -110px;
    }
    .chickenButton {
        width: 40%;
    }
}

@media only screen and (max-width: 350px) {
    .betweenChickens {
        top: -100px;
    }
}

@media only screen and (max-width: 300px) {
    .betweenChickens {
        top: -80px;
    }
}